body {background-color: green;}

.board {
  width: 255px;
  height: 255px;
  margin: auto;
  border: 10px solid black;
}

#first {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#second {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#third {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#fourth {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#fifth {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#sixth {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#seventh {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#eighth {
width: 25px;
height: 25px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}
