body {background-color: lightgreen;}

.board {
  width: 435px;
  height: 435px;
  margin: auto;
  border: 10px solid black;
}

#first {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#second {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#third {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#fourth {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#fifth {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#sixth {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#seventh {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
border-right: 5px solid black;
}

#eighth {
width: 50px;
height: 435px;
float: left;
text-align: center;
font-size: 180%;
}

#a1 {
  width: 50px;
  height: 50px;
  border-bottom: 5px solid black;
}
